<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="Settings" content="width=device-width, initial-scale=1">
  <title>Settings</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <h2>Program settings</h2>
  {{if .Success}}
    <h2>Configuration successfully updated</h2>
  {{else}}
    <form method="POST">
        <label>Accepted extensions (comma separated values):</label><br/>
        <textarea rows="1" cols="60" name="extention">{{.ExtensionExpression}}</textarea><br/>
        <label>Filename formats (one format per line):</label><br/>
        <textarea rows="6" cols="60" name="nameparser">{{$first := true}}{{range $id, $value := .NameParserExpression}}{{if $first}}{{$first = false}}{{else}}\n{{end}}{{$value}}{{end}}</textarea><br/>
        <label>Separators (slash seperated values):</label><br/>
        <textarea rows="6" cols="60" name="separator">{{.TitleCleanupExpression}}</textarea><br/>
        <label>Information provider:</label><br/>
        <select>
          <option value="omdb">IMDB</option>
          <option value="rt">Rotten Tomato</option>
        </select><br/>
        <label>API key:</label><br/>
        <textarea rows="1" cols="60" name="apiKey">{{.APIKey}}</textarea><br/>
        <input type="submit">
    </form>
  {{end}}
</body>

</html>